<div>
  <div #layoutContainer class="layout-container">
      <!-- <svg #localSvg>
      </svg> -->
  <!-- <svg width="100%" height="100%">       
      <image [attr.xlink:href]="layout" width="100%" height="100%"/>    
    </svg>       -->
  </div>
  <p-growl [(value)]="msgs" styleClass="tool-info" [life]="8000" [sticky]="true" [style]="{position: 'absolute', bottom: '0px', top: 'unset'}"></p-growl>
</div>
<div class="menu-button">
  <p-button icon="fa fa-bars" (onClick)="onMenuClick($event)" [styleClass]="menu-button"></p-button>
</div>
<!-- <p-overlayPanel #op>
    Content
</p-overlayPanel> -->
<!-- <p-messages [(value)]="msgs" [style]="{position: 'absolute', bottom: '0px'}"></p-messages> -->
