<div>
  <div #layoutContainer class="layout-raw-container">

  </div>
  <div class="md-form search-control">
    <!-- <input mdbInputDirective #searchControl [mdbValidate]="false" [formControl]="searchControl" type="text" id="search-control" class="form-control" name="searchControl"/>
    <label for="search-control" class="">Search</label> -->
    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form mt-0">
        <input class="form-control mr-sm-2" [formControl]="searchControl" [(value)]="searchText" type="text" placeholder="Search">
        <p-button icon="fa fa-list-alt" [styleClass]=""></p-button>
      </div>
    </form>
  </div>
  <p-growl [(value)]="msgs" styleClass="tool-info" [life]="8000" [sticky]="true" [style]="{position: 'fixed', bottom: '0px', top: 'unset'}"></p-growl>
</div>