<div class="row">
  <div class="col-lg-2">
    <div #toolDetailContainer id="toolDetailContainer" class="tool-detail col" style="height:100px;width:100px" (click)="toolOnClick($event)">
    </div>
    <label>{{toolId}}</label>
  </div>
  <div class="col-lg-10">
    <div class="card-deck">
      <div class="card">
            <div class="card-header">
                    Header
                </div>
            <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
        </div>
      </div>
      <div class="card">
            <div class="card-header">
                    RTQCS
                </div>
            <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
        </div>
      </div>
      <div class="card">
            <div class="card-header">
                    Alarm
                </div>
            <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
        </div>
      </div>
      <div class="card">
            <div class="card-header">
                    FDC
                </div>
            <img class="card-img-top" src="holder.js/100x180/" alt="">
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>

</div>
